:root {
	font-family: Montserrat;
	font-weight: 400;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color: #cba6f7;
}

body {
	margin: 0;
	padding: 50px;
	min-height: 100vh;
	background-color: #0a000c;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

ul {
	list-style: none;
    margin: 0;
}

button, input {
	border: none;
	outline: none;
    cursor: pointer;
}
