.load-btn {
    padding: 20px;
    margin: 20px;
    max-width: 300px;
    outline: 1px solid #cba6f7;
    color: #cba6f7;
    background-color: #0a000c;
    
    &:hover {
        background-color: #1f1626;
    }
}
