.gallery {
	width: 100%;
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;

		outline: 1px solid #cba6f7;

        &:hover {
            background-color: #1f1626;
            margin-top: -10px;
            margin-bottom: 10px;
        }


		padding: 20px;
		& img {
			width: 100%;
		}
	}
}
